.DS_Store
.cache/
.ninja_deps
.ninja_log
*.ninja
build/
bin/
obj/
*.d
compile_commands.json
imgui.ini
captures/*
!captures/.gitkeep
bundles/*
!bundles/.gitkeep
assets/scenes/mesh_roundtrip.scene
settings.txt
/settings.json
